:root {
    --vitae-color: #fcc;
    --mors-color: #000;
    --red-vitae-color: #faa;
    --grey-mors-color: #555;
    --true-vitae-color: #f88;
    --true-mors-color: #310;
    
    --salt-color: #dcb;
    --air-color: #9cf;
    --earth-color: #5b5;
    --fire-color: #e43;
    --water-color: #3dd;

    --aerolith-color: #665;
    --ignistal-color: #655;
    --mistaline-color: #556;
    --pyrolite-color: #645;
    --terramarine-color: #565;
    --vaprorine-color: #656;
    
    --aerolith-stroke-color: hsl(50, 100%, 60%);
    --ignistal-stroke-color: hsl(30, 100%, 50%);
    --mistaline-stroke-color: hsl(160, 100%, 40%);
    --pyrolite-stroke-color: hsl(0, 100%, 40%);
    --terramarine-stroke-color: hsl(110, 100%, 40%);
    --vaprorine-stroke-color: hsl(280, 100%, 60%);
    

    --quintessence-base-color: #000;
    --aether-base-color: #000;
    --aether-red-color: #c00;
    --aether-cyan-color: #7ca;
    --aether-magenta-color: #f0f;

    --quicksilver-color: #ccc;
    --quickcopper-color: #e96;
    --quicklime-color: #ddc;
    --vaca-color: #111;
    --beryl-color: #ed1351;
    --lead-color: #455;
    --wolfram-color: #557;
    --tin-color: #665;
    --vulcan-color: #e96315;
    --iron-color: #843;
    --nickel-color: #a3a28b;
    --copper-color: #d62;
    --zinc-color: #5d75a5;
    --silver-color: #888;
    --sednum-color: #de17de;
    --gold-color: #ed3;
    --osmium-color: #639;
    --uranium-color: #151;

    --nobilis-color: var(--salt-color);
    --alpha-color: #cc7878;
    --beta-color: #78cc78;
    --gamma-color: #78b0cc;
    
    --azulum-color: #2e4980;
    --frixon-color: #b0a881;
    --gelaron-color: #78a0aa;
    --hestium-color: #8a9096;
    --iridium-color: #7a3a89;
    --mitrum-color: #444;
    --taceum-color: #6e774f;
    --zephiron-color: #8d6197;

    --repeat-color: #626459;
    --repeat-stroke-color: #222;

    --triplex-red: #f00;
    --triplex-orange: #f80;
    --triplex-grey: #888;
}